/* общие */
:root {
  --primary-text-color: #212121;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
}
body {
  background-color: var(--title-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  line-height: 1.14;
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}
.list .link {
  text-decoration: none;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav a {
  color: var(--primary-text-color);
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav a {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* заголовки */
.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

/* герой */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
  background-color: yellowgreen;
}

.features .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}
.features p {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}

/* список ссылок приложений */

.section a {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-decoration: none;
  background-color: chartreuse;
}

/* наша команда */
.teamwork {
  background-color: #f5f4fa;
}
.teamwork h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.teamwork p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.2;
}

/* футер */
.footer {
  background-color: #2f303a;
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 14px;
}
.logo-footer {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
}
.logo-footer span {
  color: var(--accent-color);
}

.adress-info {
  color: var(--title-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.adress-info span {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.7;
}
.footer b {
  text-transform: uppercase;
  line-height: 1.14;
}

.input {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.8;
}
.button {
  color: var(--title-text-color);
  background-color: var(--accent-color);
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.06em;
  font-family: Roboto;
  line-height: 1.8;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
}
/* страница портфолио */
.filter {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.works h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}

.works p {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
}
.works a {
  text-decoration: none;
}
a:active,
a:focus {
  outline: none;
}
